{
    "presets": [
        ["es2015", { "modules": false }],
        "stage-2",
        "react"
    ],
    "env": {
        "test": {
          "presets": [
              ["es2015"],
              "stage-2",
              "react"
          ]
        }
    }
}
